@model TitanTracker.Models.Ticket

@{
    ViewData["Title"] = "Create";
}



<h4 class="mt-2 ">Create Your Ticket Below.</h4>
<hr />
<div class="tab-justify-centered">
    <div class="card justify-content-center col-8">
        <div class="card-body justify-content-center">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input hidden asp-for="Created" />
                <input hidden asp-for=" OwnerUserId" />
                <input hidden asp-for="TicketStatusId" />
                <input hidden asp-for="DeveloperUserId" />

                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ProjectId" class="control-label"></label>
                    <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectId">
                        <option>Select...</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="TicketTypeId" class="control-label"></label>
                    <select asp-for="TicketTypeId" class="form-control" asp-items="ViewBag.TicketTypeId">
                        <option>Select...</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="TicketPriorityId" class="control-label"></label>
                    <select asp-for="TicketPriorityId" class="form-control" asp-items="ViewBag.TicketPriorityId">
                        <option>Select...</option>
                    </select>
                    <span asp-validation-for="TicketPriorityId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-dark btn-lg" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}