@{
    ViewData["Title"] = "Home Page";
}
<div class="layout-px-spacing">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>
            Rudolf Stefan Jan Weigl (2 September 1883 – 11 August 1957) was a Polish biologist, physician and inventor, known for creating the first effective vaccine against epidemic typhus. He was nominated for the Nobel Prize in Medicine every year between 1930 and 1934, and again from 1936 to 1939.[1]

            Weigl worked during the Holocaust to save the lives of countless Jews by developing the vaccine for typhus and providing shelter to protect those suffering under the Nazis in occupied Poland.[2] For his contributions, he was named a Righteous Among the Nations in 2003.

            Contents
            1	Life
            2	Vaccine development
            3	Later years, death, and legacy
            4	Awards and honors
            5	See also
            6	Notes
            7	Bibliography
            8	External links
            Life
            Weigl was born in Prerau, then part of the Austro-Hungarian Empire, to Austrian parents.[3][4] When he was a child, his father died in a bicycle accident.[5] His mother, Elisabeth Kroesel, married a Polish secondary-school teacher, Józef Trojnar.[6] Weigl was raised in Jasło, Poland.[7] Although he was a native German speaker, when the family moved to Poland, he adopted the Polish language and culture.[8]

            Later, the family moved to Lviv (Lwów in Polish, Lemberg in German and Yiddish), where in 1907 Weigl graduated from the biology department at the Lwów University, at which he had been a pupil of Professors Benedykt Dybowski (1833–1930) and J. Nusbaum–Hilarowicz (1859–1917).[9] After graduation, Weigl became Nusbaum's assistant and in 1913 completed his habilitation which effectively gave him tenure.[10] He then received his doctorate degrees in zoology, comparative anatomy, and histology.[11]

            After the outbreak of World War I in 1914, Weigl was drafted into the medical service of the Austro-Hungarian army and began research on typhus and its causes.[12] Weigl worked at a military hospital in Przemyśl, where he supervised the Laboratory for the Study of Spotted Typhus from 1918 to 1920.[13] In 1919, he became a member of a military sanitary council in the Polish army.[14] As he began researching and experimenting, he discovered and developed a vaccine.

            After the invasion of Poland by Germany in 1939, Weigl continued his research and work at an institution in Lwów.[15] There, he was able to increase the production of his typhus vaccine. He spent the next four years in Lwów focusing his research on developing a vaccine for spotted fever. He led and directed the Institute for Typhus and Virus Research based in Lwów. Weigl was able to create a vaccine for the spotted fever; however, it did not offer immunity against the disease. Instead, it reduced the symptoms, allowing for a much milder infection in humans.[16]

            During the Nazi German occupation of Poland in World War II, Weigl's research attracted the attention of the Nazis.[17] When they occupied Lwów, they ordered him to set up a typhus vaccine production plant at his Institute. Weigl hired several Jewish friends and colleagues for the plant. Weigl employed and protected approximately 2,000 Polish intellectuals, Jews and members of the Polish underground.[18] Many of these people he hired assisted him in his typhus research and experiments with lice. Many of his Jewish associates primarily helped grow the lice and in return, they received food, protection, and doses of the vaccine when it was fully developed.[19] His vaccines were smuggled into ghettos in Lwów and Warsaw, various concentration camps, and even certain Gestapo prisons. It was estimated that Weigl was able to save around 5,000 lives during the Nazis' reign.[20]

            Vaccine development

            Prof. Rudolf Weigl's anti-typhus vaccine at POLIN Museum of the History of Polish Jews in Warsaw
            In 1930, following Charles Nicolle's 1909 discovery that lice were the vector of epidemic typhus, and following the work done on a vaccine for the closely related Rocky Mountain spotted fever, Weigl took the next step and developed a technique to produce a typhus vaccine by growing infected lice and crushing them into a vaccine paste. He discovered that a vaccine could be developed from lice stomachs infected with Rickettsia prowazeki, the causative agent of typhus in humans. He developed this first version of the vaccine in 1918 and began experimenting on guinea pigs and even human volunteers. He refined this technique over the years until 1933 when he performed large-scale testing to cultivate bacteria and experiment with the lice using a micro-infection strategy. The method comprised four major steps:

            Growing healthy lice, for about 12 days;
            Injecting them with typhus;
            Growing them more, for 5 additional days;
            Extracting the lice's midguts and grinding them into a paste (which was the vaccine).

            Weigl Monument in Wrocław, Poland
            Growing lice meant feeding them blood, the more human the better. At first he tested his method on guinea pigs, but around 1933 he began large-scale testing on humans, feeding the lice human blood by letting them suck human legs through a screen. This could cause typhus during the latter phase, when the lice were infected. He alleviated this problem by vaccinating the human "injectees", which successfully protected them from death (though some did develop the disease).[21] Weigl himself developed the disease, but recovered.

            The first major application of his vaccine was conducted between 1936 and 1943 by Belgian missionaries in China. Soon, the vaccines were also administered in Africa.[22] The vaccine was dangerous to produce and hard to make on a large scale. Over time, other vaccines were developed that were less dangerous and more economical to produce, including the Cox vaccine developed on egg yolk.

            Later years, death, and legacy
            Following the border changes in the aftermath of the war, Weigl moved to Kraków in southern Poland. He was appointed Chair of the General Microbiology Institute at the Jagiellonian University, and later Chair of Biology at the Medical Faculty in Poznań. He retired in 1951, but production of his vaccine continued for some years until discontinued.[22]

            Weigl died on 11 August 1957 in the Polish mountain resort of Zakopane at the age of 73.[10] He was buried at the historic Rakowicki Necropolis in Kraków.[23]

            For Weigl's research and work with typhus at Lwów University, Weigl's Institute was created within the department of Typhus Research. The Institute features prominently in Andrzej Żuławski's 1971 film, The Third Part of the Night.

            Awards and honors
            Weigl was continuously nominated for a Nobel Prize in the years 1930–1934 and 1936–1939.[1] Despite these nominations, he never received a Nobel Prize for his vaccine accomplishments or social work.[19]

            A half-century after his death, Weigl's research, work, and service were recognized by many. In 2003, he was honored as Righteous Among the Nations. This award was given by Israel and commemorated his work for saving countless Jewish lives during World War II.[24]

            On 2 September 2021, Google commemorated Weigl’s 138th birthday with a Google Doodle.[25][26]

            See also
            Louse-feeder
            List of Poles
            Ludwik Fleck
            Ludwik Hirszfeld, microbiologist, Holocaust survivor
            Notes
            "Nomination archive Rudolf Weigl". The Nobel Institute. April 2020. Retrieved 2021-09-02.
            "The Doctor Who Protected Jews from Disease and Destruction". International Fellowship of Christians and Jews. 2020-01-29. Retrieved 2021-03-22.
            Towarzystwo Miłośników Wrocławia 1998, p. 176
            Krawczyński 2010, p. 28
            Towarzystwo Miłośników Wrocławia 1998, p. 176
            Krawczyński 2010, p. 28
            Krawczyński 2010, p. 28
            Wincewicz, Sulkowska & Sulkowski 2007, pp. 111–115
            Krawczyński 2010, p. 28
            Waclaw Szybalski, "The genius of Rudolf Stefan Weigl (1883–1957), a Lvovian microbe hunter and breeder" In memoriam. McArdle Laboratory for Cancer Research, University of Wisconsin, Madison WI 53705, USA
            Krawczyński 2010, p. 28
            Krawczyński 2010, p. 28
            Krawczyński 2010, p. 29
            Krawczyński 2010, p. 29
            Krawczyński 2010, p. 29
            Flamm 2014, pp. 152–163
            Krawczyński 2010, p. 29
            Krawczyński 2010, pp. 29–30
            "Story of Rescue - Weigl Rudolf Stefan". Polish Righteous. Retrieved 2021-03-22.
            "Rudolf Weigl's Institute". Lviv Interactive. Retrieved 2021-03-22.
            "Maintenance of Human-fed Live Lice in the Laboratory and Production of Weigl's Exanthematous Typhus Vaccine". Lwow.home.pl. Retrieved 2021-09-02.
            Barabasz, Wiesław (8–10 July 2015). "The life and scientific activity of Professor Rudolf Stefan Weigl" (PDF).
            Krawczuk 1998, p. 134
            "The Righteous among the Nations". The Righteous among the Nations. Retrieved 2021-03-22.
            "Rudolf Weigl's 138th Birthday", Google, 2 September 2021. Accessed 2 September 2021.
            Musil, Steven (2021-09-01). "Google Doodle honors Rudolf Weigl, vaccine inventor who saved Jews from Nazis". CNET. Retrieved 2021-09-02.
            Bibliography
            Allen, Arthur (2015). 'The Fantastic Laboratory of Dr. Weigl: How Two Brave Scientists Battled Typhus and Sabotaged the Nazis. New York, NY: W.W. Norton & Company. ISBN 9780393244014. OCLC 915589490 – via the Internet Archive.
            Flamm, Heinz (2 December 2014). "Das Fleckfieber und die Erfindung seiner Serodiagnose und Impfung bei der k. u. k. Armee im Ersten Weltkrieg". Wiener Medizinische Wochenschrift (in German). 165 (7–8): 152–163. doi:10.1007/s10354-014-0332-7. ISSN 0043-5341. PMID 25448128.
            Krawczuk, Aleksander (1998). Cmentarz Rakowicki w Krakowie (in Polish). Kraków: Agencja Omnipress. ISBN 9788385028406. OCLC 21969299.
            Krawczyński, Wiesław (2010). Przez tundrę i tajgę po sowieckich łagrach (in Polish). Krzeszowice: Kubajak. ISBN 9788362501052. OCLC 751559144.
            Towarzystwo Miłośników Wrocławia (1998). Kalendarz Wrocławski (in Polish). V. 39. Wrocław: Prasa. OCLC 1782909.
            Wincewicz, Andrzej; Sulkowska, Mariola; Sulkowski, Stanislaw (2007). "Rudolph Weigl (1883–1957) – a scientist in Poland in wartime Plus ratio quam vis". Journal of Medical Biography. 15 (2): 111–115. doi:10.1258/j.jmb.2007.06-19. ISSN 0967-7720. PMID 17551613. S2CID 37072415.
            External links
            Wikimedia Commons has media related to Rudolf Weigl.
            Biography of Weigl (1967) by Stefan Kryński
            Page with many Weigl links and pictures
            Overview of the experiment-- Maintenance of human-fed live lice in the laboratory and production of Weigl's exanthematous typhus vaccine (1999) by Wacław Szybalski
            Ann. Acad. Med. Gedan., 1974, 4, 19-51 by Stefan Krynski, Eugeniusz Becla, and Marian Machel
            Bibliography of typhus and Weigl history articles from PubMed
            Nominations for the Nobel Prize between 1930-1939
            News article about the receipt of "Righteous Among the Nations of the World" medal for helping Jews during World War II
            Recollections of Halina Szymanska Ogrodzinska, reporting the underground activities of the Weigl Institute
            Pictures of the Weigl Institute and a little history
            How Charles Nicolle of the Pasteur Institute discovered that epidemic typhus is transmitted by lice: reminiscences from my years at the Pasteur Institute in Paris by Ludwik Gross, August 6, 1996
            Scientists Created A Typhus Vaccine In A 'Fantastic Laboratory'. Fresh Air, NPR books author interviews, July 22, 2014.
            vte
            Righteous Among the Nations
            Authority control Edit this at Wikidata
            Categories: 1883 births1957 deaths20th-century biologistsAdam Mickiewicz University in Poznań facultyAustro-Hungarian military personnel of World War IAustro-Hungarian peopleBurials at Rakowicki CemeteryCommanders of the Order of Polonia RestitutaCommanders with Star of the Order of Polonia RestitutaJagiellonian University facultyKnights Grand Cross of the Order of St Gregory the GreatMembers of the Lwów Scientific SocietyMembers of the Polish Academy of LearningPeople from PřerovPolish Righteous Among the NationsPolish biologistsPolish inventorsPolish people of Austrian descentUniversity of Lviv alumniUniversity of Lviv facultyVictims of post–World War II forced migrations
            Navigation menu
            Not logged in
            Talk
            Contributions
            Create account
            Log in
            ArticleTalk
            ReadView sourceView history
            Search
            Search Wikipedia
            Main page
            Contents
            Current events
            Random article
            About Wikipedia
            Contact us
            Donate
            Contribute
            Help
            Learn to edit
            Community portal
            Recent changes
            Upload file
            Tools
            What links here
            Related changes
            Special pages
            Permanent link
            Page information
            Cite this page
            Wikidata item
            Print/export
            Download as PDF
            Printable version
            In other projects
            Wikimedia Commons

            Languages
            العربية
            Deutsch
            Español
            فارسی
            Français
            Italiano
            Português
            Русский
            中文
            11 more
            Edit links
            This page was last edited on 2 September 2021, at 20:56 (UTC).
            Text is available under the Creative Commons Attribution-ShareAlike License; additional terms may apply. By using this site, you agree to the Terms of Use
        </p>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
</div>