@page
@model ConfirmEmailModel
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Email Confirmed";

}

<div class="infobox-2">
    <div class="info-icon">
        <svg> ... </svg>
    </div>
    <h1 class="info-heading">@ViewData.[Title]</h1>
    <p class="info-text">@Model.StatusMessage</p>
    <a class="info-link" asp-area="Identity" asp-page="/Account/Login">SIGN IN <svg> ... </svg></a>
</div>