@page
@model ConfirmEmailModel
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Email Confirmed";

}

<div class="infobox-2 col-6">
    <div class="info-icon">
        <svg> ... </svg>
    </div>
    <h1> EMAIL CONFIRMED</h1>
    <p class="info-text">@Model.StatusMessage</p>
    <a class="info-link" asp-area="Identity" asp-page="/Account/Login"><button class="btn btn-dark ">SIGN IN</button> <svg> ... </svg></a>
</div>